<html>
<head>
{% extends "base.html" %}
	{% block link %}
		<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles/blogs/blog_post.css') }}">
	{% endblock link %}
</head>

<body>
	<nav>
	{{ super() }}
	</nav>
	{% block content %}	
		<div class=page-wrapper>
		<h1>First Week of Metis</h1>
		<h2>Expectations Coming into the Program</h2>
		<p>
		Coming into the <b>Metis Data Science Immersive Program</b>, I had no real idea of what I was getting myself into. On one hand I felt confident that if I put my best effort into this program, I would succeed in developing into a real data scientist. On the other hand I had a fear that no matter how hard I tried, the sheer amount of work I would be expected to complete would feel overwhelming.	
		</p>
		<h2>The First Week</h2>
		<p>
		The program thus far gives me the same vibe that I felt when I took an accelerated summer class at UC Berkeley. Mornings were dedicated to mostly lectures except for the paired programming exercise and afternoons were either additional lectures or time dedicated to completing the assigned project and challenges.
		</p>
		<p>
		The pace of the program has been great for me. Between the project, the challenges, and other miscellaneous tasks, I feel that the workload is just beyond my current capacity. This is awesome because I went into this program expecting to be stretched. I want to be challenged in order to think of more efficient methods of completing assignments and I want to learn new processes to optimize my workflow. This week has been hard, but great in my development as a full-fledged data scientist.
		</p>
		<h2>Project Benson</h2>
		<p>
		The first week flew by. Before I knew it my cohort had been given our first project, <a href="https://github.com/plim0793/Project-Benson" target="_blank">Project Benson</a>, and split into groups. Our objective was to use the pandas Python library in order to clean and analyze the publicly available <i>Metropolitan Transportation Authority (MTA)</i> transit data. My group, in particular, used the MTA transit data in order to provide suggestions to our client, <i>CUPS</i>, on how to best increase their user base and app usage rate.
		</p>
		<p>
		<a href="https://cupsapp.com/" target="_blank">CUPS</a> is a company that provides their users with discounts and subscription plans with partnered with independent coffee shops in metropolitan areas, such as New York and San Francisco. Our focus was to provide a list of stations that have the highest amount of traffic from morning commuters. We also identified certain areas that are devoid of partnered coffee shops but are near high-traffic stations.
		</p>
		<p>
		Our group meshed well together. We were all on the same page in terms of direction and we each brought something unique to the table. Personally, I had a lot of fun just learning how to work collectively on a data science project. The process of learning how to effectively use github to push and pull code is something that I will encounter many many times in the future. I’m happy that I was able to gain this skill early on in the Metis program.
		</p>
		<h2>Expectations for the Future</h2>
		<p>
		This coming week I just want to continue immersing myself into the program. I want to learn. I want to grow. I want to be challenged.
		</p>
		</div>

	{% endblock content %}

</body>
</html>